/*
 * VHS
 * Post-future CSS animations
 *
 * delay
 * flicker-in
 * (flicker-out)
 * zoom-in
 * fade-in
 * pop-in
 * flicker
 *
 */

.vhs-delay-1 { animation-delay: .1s }
.vhs-delay-2 { animation-delay: .2s }
.vhs-delay-3 { animation-delay: .3s }
.vhs-delay-4 { animation-delay: .4s }

@keyframes flicker-in {
    0%   { opacity: 0; transform: scale(.9) }
   50%   { opacity: .75 }
   62.5% { opacity: 0 }
   75%   { opacity: 1 }
   87.5% { opacity: .5 }
  100%   { opacity: 1 }
}

@keyframes flicker-out {
    0% { opacity: 1 }
   25% { opacity: .75 }
   50% { opacity: 0 }
   75% { opacity: .5 }
  100% { opacity: 0 }
}

.vhs-flicker-in {
  opacity: 0;
  animation-name: flicker-in;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes zoom-in {
    0% { transform: scale(0) }
  100% { transform: scale(1) }
}

.vhs-zoom-in {
  transform: scale(0);
  animation-name: zoom-in;
  animation-duration: .2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% { opacity: 0 }
  100% { opacity: 1 }
}

.vhs-fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes pop-in {
    0% { transform: scale(0) }
   75% { transform: scale(1.25) }
  100% { transform: scale(1) }
}

.vhs-pop-in {
  transform: scale(0);
  animation-name: pop-in;
  animation-duration: .2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes flicker {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.vhs-flicker {
  animation-name: flicker;
  animation-duration: .025s;
  animation-iteration-count: infinite;
}

