
@import 'blk';
@import 'basscss-highlight-dark';
@import '../index.css';

a {
  color: inherit;
}

.no-border { border: 0 }

.Readme table {
  font-family: var(--font-family);
  font-size: var(--h4);
  width: 100%;
  margin-bottom: var(--space-2);
  border-collapse: separate;
  border-spacing: 0;
}

.Readme th {
  text-align: left;
  vertical-align: bottom;
  padding: .5rem 0;
  border-bottom: 2px solid var(--darken-2)
}

.Readme th:first-child {
  width: 25%;
}

.Readme td {
  vertical-align: top;
  padding: .5rem 0;
  border-bottom: 1px solid var(--darken-1)
}

.Readme h1:first-of-type,
.Readme p:first-of-type {
  display: none;
}

